<h1>New Group</h1>

<%= form_for @group do |f| %>
<%= f.label :name, "Name of the group" %>
<%= f.text_field :name %> <br>
<%= f.label :icon, "Add an icon to this group" %>
<%= f.file_field :icon %> <br>
<%= f.submit "Add group"%>
<% end %>
<%= render  "shared/side_bar" %>