<%= render  "shared/side_bar" %>
<div class="main">
  <div class="section-head">
    <h1><%=@transaction.name%></h1>
    <div class="action-button">
      <%= link_to  "ADD NEW TIME", new_transaction_path, class: "action-btn" %>
    </div>
  </div>
  <div class="single-data">
    <div class="data-header">
      <h1><%=@transaction.name%></h1>
    </div>
    <div class="data-content">
      <p><%=@transaction.amoun%> hours</p>
      <p>Added <%=time_ago_in_words(@transaction.created_at, include_seconds: true)%></p>
    </div>
  </div>
</div>
