<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f0664007b8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <%= render  "shared/navbar" %>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <%= render  "shared/footer" %>
  </body>
</html>
